<h1>Welcome To Pants Weather!</h1>

<form action='/pantscast' method='post'>
  <input type='text' name='zipcode' placeholder='Enter your zip here :)'>
  <input type='submit' value='Get the Pantscast!'>
</form>
