<h1>Who's That Pokemon?</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<br>
<br>

<img src="<%= @poke_image %>">
<hr>
<%= @pokemon_name %>
<hr>
<%= render 'guess_form' %>
<hr>
<%=   @poke_response %>
